h1{
    color:red;
}
.headingOne{
    color: blue;
}
#headingFive{
    color: aqua;
}

input{
    display: block;
}
.parentContainer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    gap:10px;
    justify-content:center ;
    align-items: center;
    flex-direction: row-reverse;
   
}

div{
     flex-grow: 1;
    color: aliceblue;
    background-color: blueviolet;
    padding:10px;
}